*.DS_Store
*datasets
*blood_cell_dataset
*blood_cell_dataset_patched
*dataset_patched
*shapes_dataset
*Y2B
*wandb
*Kaggle
*data
*.meshes
*.meshes copy
*models
*runs
/task09_robotics_environment/Y2B-2023-OT2_Twin/__pycache__
